.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
body{
    background-color: aliceblue;
}
  
  .container h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Narifah', sans-serif;  
    letter-spacing: 20px;                                         
  }

  .container h2 {
    font-size: 15px;
    margin-top: -11rem;   
    margin-left: -80rem;                                           
  }

  .container .model{
   font-family: "AvenirNext-DemiBold","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.6rem;
    line-height: 0.85;  
    margin-left: -80rem; 
    margin-top: 5rem;                                
  }
  
  .container .year{
    font-size: 15PX;    
    margin-left: -86.5rem; 
    margin-bottom: -2.5rem;
   margin-bottom: 10rem;
                                                                                  
  }
  
  .starting .starting_msrp {
    font-family: "AvenirNext-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.7rem;
    line-height: 1.0;
    margin-left: -82.5rem;
    margin-top: 1.1rem;
  }

  .starting .starting_msrp_value{
    font-family: "AvenirNext-DemiBold","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    margin-left: -82.1rem;
  }

  .starting .starting_slash {
    font-family: "AvenirNext","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3rem;
    margin-left: -73.5rem;
    margin-top: -3.7rem;
  }

  .MPG .mpg{
    font-family: "AvenirNext-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.7rem;
    line-height: 1.0;
    margin-left: -63rem;
    margin-top: -2.9rem;
  }

  .MPG .mpg_value{
    font-family: "AvenirNext-DemiBold","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    margin-left: -66.5rem;
  }

  .container img {
    width: auto;
    height: -20rem;
    margin-top: 1rem;
    align-items: center;
    margin-left: -19.5rem;
  }
  
  .container p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .container button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .container button:last-child {
    margin-right: 0;
  }
///
  .container {
    position: relative;
  }
  
  .container .info {
    position: absolute;
    top: 9rem;
    left: 47rem;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-top: 1rem;
  }

  .container .info-bottom {
    position: absolute;
    top: 9rem;
    left: 47rem;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-top: 1rem;
    justify-content: center;

  }

  .info-bottom .info-container{
    display: flex;
    align-items: center;
    margin-left: 13rem;
    margin-top: 44rem;
    
  }

  .info-bottom .speed {
    font-family: "AvenirNext-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.0;
    margin-top: 41.9rem;
    margin-left: 0rem;
    border: #ffffff00 solid 1px;
    border-radius: 3px;
    color: #000000;
    padding: 6px 8px;
    background-color: aliceblue;
    cursor: pointer;
  }

  .info-bottom .horsepower {
    font-family: "AvenirNext-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.0;
    margin-left: 1rem;
    margin-top: 41.9rem;

    border: #ffffff00 solid 1px;
    border-radius: 3px;
    color: #000000;
    padding: 6px 8px;
    background-color: aliceblue;
    cursor: pointer;
  }

  .info-bottom .zerotosixty {
    font-family: "AvenirNext-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.0;
    margin-top: 41.9rem;
    margin-left: 1rem;

    border: #fff solid 1px;
    border-radius: 3px;
    color: #000000;
    padding: 6px 8px;
    background-color: aliceblue;
    cursor: pointer;
  }

  .info-bottom .viewmore {
    font-family: "AvenirNext-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.0;
    margin-top: -52.5rem;
    margin-left: -15rem;
    
    border: #ffffff00 solid 0px;
    border-radius: 3px;
    color: #000000;
    padding: 6px 8px;
    background-color:aliceblue;
    cursor: pointer;
  }
  
  img {
    width: 100%;
    height: 49rem;
    object-fit: cover;
    border: aliceblue solid 1px;
    border-radius: 2rem;
  }
  
  .gallery .image-container img{
    width: 50rem;
    height: 50rem;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin-top: -7rem;
  }

.nav {
    background-color: #33333300;
    overflow: hidden;
    margin-top: -52.5rem;
    font-family: "AvenirNext-Medium","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;  
}

.nav nav {
    float: right;
    border: #000000 solid 0px;
    color: #000000;
    padding: 6px 8px;
    background-color: rgba(200, 37, 37, 0);
    cursor: pointer;
}

.nav nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav nav a:hover {
}